.separator{
    display: flex;
    height: 50px;
}

.download{
    display: flex;
}

















/* DEBUG */


/* DEBUG-HEADER */
.debug nav{
    height: 80px;
    background-color: red;
}

/* DEBUG-MAIN */


/* jumbotron */
.debug #jumbotron{
    height: 300px;
    background-color: green;
}

.debug #jumbotron .jumbo_icon{
    width: 150px;
    height: 150px;
    background-color: grey;
}

.debug .separator .line{
    height: 4px;
    width: 50px;
    background-color: black;
}

/* debug portfolio */

.debug .box{
    height: 200px;
    background-color: darkorchid;
    border: 1px solid red;
}

/* debug about */
.debug .download{
    height: 50px;
    width: 100px;
    background-color: darkturquoise;
}

/* DEBUG-FOOTER */


.footer_bottom{
    height: 100px;
    background-color: pink;
}